<!DOCTYPE html>
<html>
  <head>
  	  <meta charset="UTF-8">
     <meta name="description" content="about me">
     <meta name="keywords" content="HTML,CSS,Rails,Arduino projects">
     <meta name="author" content="sanjay pinnaka">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Practical hub</title>
    <%= csrf_meta_tags %>
    
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
  </head>
  <style type="text/css">

/*MAIN*/


.notice {
  margin-bottom: 0px !important;
  text-align: center;
}
body { 
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: Helvetica Neue, Helvetica, Arial;
  background: #ffffff;
  color: #555;
}
a {
  color: #ed5151;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #444;
}
header {
  background: #fff;
  width: 100%;
  height: 76px;
 
  top: 0;
  left: 0;
  
  z-index: 100;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  float: left;
  padding: 10px
}
.current {
  color: #2262AD;
}
section {
  margin: 80px auto 40px;
  max-width: 980px;
  position: relative;
  padding: 20px
}
h1 {
  font-size: 2em;
  color: #2262AD;
  line-height: 1.15em;
  margin: 20px 0 ;
}
p {
  line-height: 1.45em;
  margin-bottom: 20px;
}

#logo{
  margin: 20px;
  float: left;
  width: 270px;
  height: 40px;
  background: url("/3.png") no-repeat center;

  display: block;
}



.drop {
  padding-bottom: 500px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
 
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}



input #title {
  text-transform: lowercase;
}
.main1 {
     display: table;
     background-image: url('assets/k.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 50vh;
 } 
.cover  {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  padding: 20px 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.flex-form input[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 314px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 5px;
  background: #fff;
  line-height: 50px;
  font-size: 0.9rem;
  border-radius: 0;
  width: 214px;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

#madeby {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 100px;
  color: #fff;
}




 #logo{
  margin: 20px;
  float: left;
  width: 270px;
  height: 40px;
  background: url("assets/3.png") no-repeat center;
  display: block;
}



 * {
  box-sizing: border-box;
}
nav {
  padding: 30px;

}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}

@media screen and (max-width: 560px) {
  #logo{
  width: 215px;
  margin-left: 0px;
  }
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}


.container {
  margin-top: 85px;
}

 .current-lab {

  margin-top: 150px;
 }
 .site-footer {
  margin-top: 50px;
 }
.dropdown-content {
  min-width: 170px !important;
}

.notice {
  margin-bottom: 0px !important;
  text-align: center;
  width: 270px;
}







  </style>
  <body>


  <a> <%= link_to "", root_path, id: "logo" %></a> 
  <nav>	


  <input type="checkbox" id="nav" class="hidden"/>
  <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
  <div class="nav-container">
    <ul>
        <li><%= link_to "Home", root_path, class: "current" %></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <% if user_signed_in? %>
          <li><%= link_to('signout', destroy_user_session_path, method: :delete) %> </li>
          <li> <%= link_to "Create experiment", new_experiment_path %></li>
        <% else %>  
          <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li> 

           <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
    </ul>
  </div>
</nav>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 
  
    <%= yield %>
    

      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">Contact</h3>
                <address>
                  <strong>Practical hub</strong>
                  <p>poranki,vijayawada, krishna district</p>
                  <p><a href="#">0000 0000 0000</a><br>
                  <a href="#">sanjaypinnaka@gmail.com</a></p>
                </address>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">Help</h3>
                <ul class="dash-list">
                  <li><a href="#">Praesentium deleniti</a></li> 
                  <li><a href="#">Atque corrupti</a></li> 
                  <li><a href="#">Quos dolores quas molestias</a></li> 
                  <li><a href="#">Excepturi sint occaecati</a></li> 
                  <li><a href="#">Cupiditate provident</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">About</h3>
                <ul class="dash-list">
                  <li><a href="#">something</a></li>
                  <li><a href="#">something</a></li>
                  <li><a href="#">something</a></li>
                 
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">Follow us</h3>
                <div class="social-links">
                  <a href="#"><i><img src="assets/f.png" alt=""></i></a>
                  <a href="#"><i><img src="assets/li.png" alt=""></i></a>
                  <a href="#"><i><img src="assets/y.png" alt=""></i></a>
                  <a href="#"><i><img src="assets/g.png" alt=""></a>
                         

                </div>
              </div>
            </div>
          </div>
        </div>





      </footer>

 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- Start of Tawk.to Script -->
<script type="text/javascript">
window.$_API = undefined; 
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ad849f25f7cdf4f05330b39/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
   
 
  </body>
</html>


